@use "./setting";
@use "./mixin";

* {
  @include mixin.reset-pm();
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  list-style: none;
}

body {
  background-color: whitesmoke;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  color: var(--color-primary);
}

.fondo {
  .absolute {
    z-index:-1;
  }
}

.logo {
  font-size: 1.5rem;
  font-weight: bold
}

.card {
  margin: 3em 1.3em;
}

@media screen and (min-width: 767px) {
  #main {
    padding: 0 10%;
  }
}

